@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="img/hal.jpeg" alt="hal-9000" width="300px" style="margin:50px 0px" />
    <h1>Good morning, Erik and James</h1>
    <h2>This mission is too important for me to allow you to jeopardize it.</h2>
</div>
