@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="@Url.Action("Index", "Students", "Students")"><img src="img/hal.jpeg" title="Click to begin, Dave" alt="hal-9000"
        width="300px" style="margin:50px 0px" /></a>
    <h1>Good morning, Erik and James</h1>
    <h2>This mission is too important for me to allow you to jeopardize it</h2>
</div>
