@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>FOR INSTRUCTORS' EYES ONLY</h2>

<h3>STUDENTS KEEP OUT</h3>

<p>Also, apropos of nothing, this site was built with ASP.NET Core. Learn more about <a
        href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>