@{ Layout = "_Layout"; }

@using StudentRandomizerMvc.Models;

<h2>Frequency of each pair:</h2>
@if (@Model.Count == 0)
  {
    <h2>No pairs have been generated yet.</h2>
  }

<ul>
  @foreach (Match m in Model)
  {
    <li>@Html.ActionLink($"{m.MatchId}", "Details", new {id = m.MatchId})</li>
  }
</ul>
