@{
  Layout = "_Layout";
}
@using StudentRandomizerMvc.Models
@model IList<StudentRandomizerMvc.Models.Group>
<h1>Generated Groups</h1>

@foreach (Group group in Model)
{
  <p>Group - Score: @group.GroupScore</p>
  <ul>
  @foreach (Student student in group.DevTeamStudents)
    {
      <li>@student.Name</li>
    }
  </ul>
}

@using (Html.BeginForm())
{
  <button type="submit" class="btn btn-primary" title="Save Groups">Save Groups</button>
}