@{
  Layout = "_Layout";
}

<h1>Groups:</h1>
<p>@Html.ActionLink("Generate Groups", "DisplayGenerated")</p>
<ul>
  @foreach (Group group in Model)
  {
    <li>@Html.ActionLink($"{group.DevTeamStudents} ({group.GroupId})", "Details", new { id = group.GroupId })</li>
  }
</ul>